@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:ital,wght@1,200&family=Roboto:wght@300&display=swap");
.game-area {
  position: relative;
  margin: 40px auto;
  width: 600px;
  height: 600px;
  border: 2px solid rgb(255, 0, 0);
  background-color: rgb(248, 204, 147);
  font-size: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Koulen", cursive;
}
.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(0, 255, 64);
  z-index: 2;
}
.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(174, 0, 255);

  border-radius: 100%;
  z-index: 1;
}
